.base {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  font-weight: 500;
  transition: background-color 0.2s, color 0.2s;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
}

.primary {
  background-color: #bcec30 !important;
  color: #000000;
}

.primary:hover {
  background-color: #a6ca2b !important;
}

.secondary {
  background-color: #f3f4f6;
  color: #171717;
}

.secondary:hover {
  background-color: #e5e7eb;
}

.outline {
  border: 1px solid #bcec30;
  color: #bcec30;
}

.outline:hover {
  background-color: rgba(188, 236, 48, 0.1);
}