.page {
    padding-left: 190px;
    padding-right: 190px;
    background-color: #f9fafb;
    display: flex;
        justify-content: center;
    flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9fafb;
}

.logoImage {
  width: 220px;
  height: 35px;
}

.logoTitle {
  color: rgb(117, 117, 117);
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: 0px;
  text-align: left;
  width: 327px;
  height: 20px;
  margin-top: 4px;
}

.loginButton {
  width: 103px;
  height: 52px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 16px 26px 16px 26px;
  border-radius: 46px;
  background-color: #bcec30 !important;
  color: rgba(0, 0, 0, 1);
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: 0px;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
}

.loginButton:hover {
  background-color: #a6ca2b !important;
}